body,html
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:monospace;
}
.heroImage
{
    /* background-color: antiquewhite; */
    margin: 40px;
}
.heroImage img
{
    width:100%;
}
.heroImage h2
{
    text-align: center;
    font-weight: medium;
    font-family: Arial, Helvetica, sans-serif;
}
.form
{
    /* background-color: coral; */
    margin: 0px 46px;
}

form label
{
   /* background-color: rgb(34, 243, 243); */
   /* width:100%; */
   font-size: 28px;
   font-weight: bold; 
   margin: 50px 0px;
   /* padding: 10px 0;  */
}
form input
{
    /* background-color: blue; */
    font-size: large;
    width: 100%;
    padding: 5px 2px;
    margin:5px 0 25px 0px;
    border:none;
    border-bottom: 2px solid grey;
}
form input:focus{
    font-size: 20px;
    transition:all 100ms ease-in; 
   
}
form button
{

    background-color: #BA00FC;
    color: white;
    border:none;
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    border-radius: 50px;
    padding: 5px;
    margin: 10px 0;
    
}
p
{
    text-align: center;
    font-size: 20px;
}